* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

}

body {
    font-family: "Source Serif 4";
    background-color: #F8F7F4;
}

/* -------Page 1 css start from here----- */

#page1 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#nav {
    height: 80px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    /* background-color: red; */
}

#nav-part1 {
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part1 h4 {
    font-weight: 500;
    font-size: 15px;
}

#nav-part1 h4:hover {
    cursor: pointer;
}

#nav img {
    height: 60px;
}

#nav img:hover {
    cursor: pointer;
}

#nav-part2 {
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part2 button {
    border-radius: 50px;
    padding: 12px 22px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #0D0C22;
    color: white;
    margin: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

#nav-part2 button:nth-child(1) {
    background-color: transparent;
    color: black;
    font-weight: 500;
}

#nav-part2 button:hover {
    cursor: pointer;
    background-color: #565564;
}




/* -----Page 2 section start from here------ */


#content {
    height: calc(100% - 80px);
    /* background-color: rgb(118, 190, 190); */
    width: 100%;
    padding-top: 80px;

}

#content h3 {
    background-color: #FFCE96;
    padding: 8px 24px;
    border-radius: 20px;
    width: fit-content;
    font-weight: 100;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-family: "Source Serif 4";
    margin: 20px 0;
}

#content h1 {
    font-size: 70px;
    font-weight: 100;
    text-align: center;
    margin: 15px;
    font-family: "Source Serif 4";
    line-height: 70px;
}

#content h4 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#content button {
    border-radius: 50px;
    padding: 12px 22px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #0D0C22;
    color: white;
    margin: 30px 0px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#content button:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: #565564;
}

/* -----Page 2 part start from here------ */

#bottom {
    height: 300px;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#bottom::-webkit-scrollbar {
    display: none;
}

.elem {
    display: inline-block;
    position: relative;
    border-radius: 40px;
    height: 100%;
    margin-right: 25px;
    width: 260px;
    background-color: royalblue;
    overflow: hidden;
}

.elem .text-bottom {
    height: 15%;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.434);
    color: white;

}

.elem .text-bottom h5 {
    margin-left: 30px;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.elem video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page2 {
    margin-top: 180px;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 70px;
}

#page2 h1 {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 50px;
}

.box {
    height: 280px;
    width: 320px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-bottom {
    height: 40%;
    width: 100%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.536));
    bottom: -40%;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
}

.box-bottom i {
    background-color: white;
    color: black;
    padding: 4px 5px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;

}

.box-bottom h5 {
    font-size: 18px;
}

.box:hover .box-bottom {
    bottom: 0;
    cursor: pointer;
}

/* ------Page 3 section start from here-------- */

#page3 {
    height: 95%;
    width: 100%;
    margin-top: 140vh;
    padding-top: 120px;
    background-color: #FFDA79;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

#page3 h1 {
    font-size: 65px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 50px;
}

#page3>h4 {
    font-size: 18px;
    font-weight: 450;
}

#page3-h4 {
    margin-top: 10px;
    margin-bottom: 60px;
    font-weight: 500;
}

.page3-1btn {
    height: 50px;
    width: 180px;
    border-radius: 50px;
    padding: 12px 22px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #0D0C22;
    color: white;
    margin: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

.page3-2btn {
    border-radius: 50px;
    height: 50px;
    width: 180px;
    padding: 12px 22px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* margin: 0 5px; */
    font-family: 'Open Sans', sans-serif;
}

#page3 button:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: #565564;
}

#page3 h3 {
    margin-top: 40px;
    font-weight: 500;
}

#page3 h3 a {
    color: black;
}

/* -----Page 4 content start from here------ */

#page4 {
    background-color: #ffffff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.page4-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}


.logo img {
    margin-right: 70px;
    width: 100px;
}

.logo img:hover {
    cursor: pointer;
}


.buttons {
    display: flex;
}

.buttons button {
    color: #000000;
    border: none;
    background-color: white;
    width: 100px;
    cursor: pointer;
    font-weight: 600;
}

.buttons button:last-child {
    margin-right: 0;
}

.social-media {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}

.social-media:hover {
    cursor: pointer;
}

/* ----Footer section start from here----- */
footer {
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    padding: 40px;
    text-align: center;
    margin-bottom: 100px;
    font-weight: 200;
}

.footer-left {
    float: left;
    margin-left: 90px;
}

.footer-right {
    float: right;
    margin-right: 90px;
}

.footer-left a,
.footer-right a {
    color: #000000;

    text-decoration: none;
    margin: 0 10px;
}

.footer-left a:hover,
.footer-right a:hover {
    color: #000000;
}

/* ----Responsive Start from here--------- */